.root {
  position: absolute;
  left: 0;
  right: 92.9079%;
  top: 0;
  bottom: 83.4345%;
  width: 20px;
  height: 20px;
  align-items: flex-start;
}
.vector {
  position: absolute;
  left: 13.3333%;
  right: 13.3333%;
  top: 46.6667%;
  bottom: 46.6667%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
